#top-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

#logo {
    font-size: 32px;
    margin-left: 20px;
    margin-right: 50px;
}

#content {
    position: relative;
    top: 100px;
}