#container {
    width: 100%;
    height: 100%;
}

#card {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    border: 1px solid gray;
    border-radius: 10px;
}

#card-header {
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 20px;
    background-color: #3f51b5;
    color: white;
    border-radius: 10px 10px 0px 0px;
}

#card-content {
    padding: 30px;
}

#card-content > * {
    width: 275px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}