#container {
    border: 2px solid gray;
}

#content {
    padding: 20px;
    background-color: #dddddd;
}

.content-item-header {
    height: 50px;
    line-height: 50px;
    font-size: 1.5em;
    text-align: center;
    border-bottom: 1px solid black;
}

.content-item {
    background-clip: padding-box;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid transparent;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
}

.top-item {
    height: 700px;
}

.bot-item {
    height: 500px;
}