#container {
    height: 100px;
    line-height: 100px;
    padding: 0 20px;
    background-color: #3f51b5;
    border-bottom: 2px solid gray;
    color: white;
}

#plan-name {
    font-size: 32px;
    background-color: transparent;
    color: white;
    border: 0px solid transparent;
}